html {
    box-sizing: border-box;
  }
  
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  ul,
  ol {
    margin: 0;
    padding: 0;
  }
  
  img {
    display: block;
  }
  
  body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .header {
    border-bottom: 1px solid #ececec;
  }
  .marker-none {
    list-style-type: none;
  }