.our-team {
  text-align: center;
  padding: 30px 32px;
  .text-p {
    margin-bottom: 16px;
  }
}
 

.col .text-title {
  margin-bottom: 10px;
}
.col .pic {
  border-radius: 0px;
}

.col .name-title {
  text-align: center;
}
